@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
    :root{
    --font-family:"poppins",sans-serif;
    --cream:#fefcf7;
    --light-cream:#f4f1eb;
    --pale-orange:#fdd6ba;
    --dark-grey:#333d4d;
    --grey:#83888f;
    --teal:#0e8784;
    --teal-dark:#0c6562;
}
   
}
body{
    font-family: var(--font-family);
}