@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');

@import "tailwindcss";

@import "tailwindcss";

@layer base {
  :root{
    --font-family: "Poppins", sans-serif;
    --font-fraunces: "Fraunces", serif;

    --cream:#fefcf7;
    --light-cream:#f4f1eb;
    --pale-orange:#fdd6ba;
    --dark-grey:#333d4d;
    --grey:#83888f;
    --teal:#0e8784;
    --teal-dark:#0c6562;
  }
}
body{
    font-family: var(--font-family);
}
@layer utilities {
  .font-fraunces {
    font-family: var(--font-fraunces);
  }
}